---
import { Image } from 'astro:assets'
import Video from '../Video.astro'
import './stack.css'

type ImageItem = {
  type: 'image'
  src: ImageMetadata
  alt: string
}

type VideoItem = {
  type: 'video'
  src: string
}

export type Item = ImageItem | VideoItem

export interface Props {
  type: 'circle' | 'wave'
  items: Item[]
}

const { type, items } = Astro.props
---

<div class={`stack ${type}  relative`} style={`--total-items: ${items.length}`}>
  {
    items.map((item, index) => (
      <div class="stack-item" data-index={index} style={`--stack-i: ${index}`}>
        <div class="fog-layer" />
        {item.type === 'image' && (
          <Image
            src={item.src}
            alt={item.alt}
            class="block h-auto w-full cursor-pointer object-contain"
          />
        )}
        {item.type === 'video' && (
          <Video src="/synthetic-wander-route-algo.mp4" />
        )}
      </div>
    ))
  }
  <div
    id="indicator"
    class="text-text-primary absolute right-0 bottom-0 rounded bg-white/60 px-2 font-mono shadow-2xl backdrop-blur-md"
    style={{ zIndex: items.length + 1 }}
  >
  </div>
</div>

<script>
  import { Stack } from './index.ts'

  document.addEventListener('DOMContentLoaded', () => {
    const stackElement = document.querySelector('.stack') as HTMLElement
    if (stackElement) {
      new Stack(stackElement)
    }
  })
</script>
